{
    "tabWidth": 4,
    "useTabs": false,
    "xmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-xml"],
    "overrides": [
        {
            "files": "*.tsx",
            "options": {
                "noUnusedVariables": false
            }
        }
    ]
}